doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  include favicon.pug
  link(rel='stylesheet' type='text/css' href='../styles/form-merge.css')
  title Cadastro
body.with-margin
  a(href='../') Voltar
  div.flex.bg-red
    p= error || ""
  form.form.flex(action='' method='post')
    .form-field
      label(for="pessoa") Pessoa
      input(type="radio" id="pessoa" name="userMode" value="pessoa" checked='')
    .form-field
      label(for="empresa") Empresa
      input(type="radio" id="empresa" name="userMode" value="empresa")
    .form-field
      label.field-label(for='cpf_cnpj') CPF / CNPJ
      input#cpf_cnpj.field-input(type='number' name='cpf_cnpj' required='' data-mask="")
    .form-field
      label.field-label(for='email')
        | &#x9;&#x9;&#x9;&#x9;Email
      input#email.field-input(type='email' name='email' placeholder='Digite seu email' required='')
    .form-field
      label(for='name') Nome
      input#name.field-input(type='text' name='name' placeholder='Digite seu nome' required='')
    .form-field
      label.field-label(for='senha') Senha
      input#pwd.field-input(type='password' name='senha' required='')
    .form-field
      label.field-label(for='ensino') Ensino
      input#ensino.field-input(type='text' name='ensino' rows='12' cols='12' required='')
    .form-field
      label.field-label(for='idade') Idade
      input#idade.field-input(type='number' name='idade' required='')
    .form-field
      label.field-label(for='areaInteresse') Area de interesse (Principal)
      select#areaInteresse.field-input(name='areaInteresse' required='')
        if areasInteresse.interessePrincipal
          each val in areasInteresse.interessePrincipal
            option(value=`${val}`)= val
    .form-field
      label.field-label(for='areaInteresse2') Area de interesse secundária (Opcional)
      select#areaInteresse2.field-input(name='areaInteresse2')
        option(value="")
        if areasInteresse.interesseSecundario
          each val in areasInteresse.interesseSecundario
            option(value=`${val}`)= val
    .form-field
      label.field-label(for='experiencia') Experi&ecirc;ncia
      input#exp.field-input(type='text' name='experiencia' required='')
    .form-field
      label(for="descricao") Descrição (Opcional)
      textarea.field-input(name="descricao")
    input.btn.btn-blue.btn-big.form-btn(type='submit' value='Cadastrar' style='text-transform: uppercase;')