doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  include favicon.pug
  link(rel='stylesheet' type='text/css' href='../styles/form-merge.css')
  title Cadastro
body.with-margin
  a(href='../') Voltar
  div.flex.bg-red
    p= error || ""
  form.form.flex(action='' method='post')
    .form-field
      label.field-label(for='email')
        | &#x9;&#x9;&#x9;&#x9;Email
      input#email.field-input(type='email' name='email' placeholder='Digite seu email' required='')
    .form-field
      label(for='name') Nome
      input#name.field-input(type='text' name='name' placeholder='Digite seu nome' required='')
    .form-field
      label.field-label(for='senha') Senha
      input#pwd.field-input(type='password' name='senha' required='')
    .form-field
      label.field-label(for='ensino') Ensino
      textarea#ensino.field-input(type='text' name='ensino' rows='12' cols='12' required='')
    .form-field
      label.field-label(for='idade') Idade
      input#idade.field-input(type='number' name='idade' required='')
    .form-field
      label.field-label(for='experiencia') Experi&ecirc;ncia
      textarea#exp.field-input(type='text' name='experiencia' required='')
    .form-field
      label(for="descricao") Descrição (Opcional)
      textarea.field-input(name="descricao")
    input.btn.btn-blue.btn-big.form-btn(type='submit' value='Cadastrar' style='text-transform: uppercase;')
