<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="global.css">
	<link rel="stylesheet" type="text/css" href="form.css">
	<link rel="stylesheet" type="text/css" href="btn.css">
	<link rel="stylesheet" type="text/css" href="common.css">
	<title>Login</title>
</head>
<body class="with-margin">
	
	<a href="../">Voltar</a>

	<form action="post-login" method="POST" class="form flex direction-column">

		<div class="form-field">
			<label for="email" class="field-label">Email</label>
			<input type="email" name="email" id="email" class="field-input">
		</div>

		<div class="form-field">
			<label for="senha" class="field-label">Senha</label>
			<input type="password" name="senha" id="pwd" class="field-input">
		</div>

		<input type="submit" value="Login" class="btn btn-big btn-green form-btn">

	</form>

</body>
</html>