<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="stylesheet" href="global.css">
	<link rel="stylesheet" href="btn.css">
	<link rel="stylesheet" href="form.css">
	<link rel="stylesheet" href="common.css">
	<title>PI - Mudar Senha</title>
</head>
<body>
	
	<form action="" method="POST" class="form flex direction-column">
		<div class="form-field">
			<label for="senha1" class="field-label">Nova Senha</label>
			<input type="password" class="field-input" name="senha1" id="">
		</div>
		<div class="form-field">
			<label for="senha2" class="field-label">Confimação da Nova senha</label>
			<input type="password" class="field-input" name="senha2" id="" placeholder="Digite a senha novamente">
		</div>
		<input type="submit" value="Mudar senha" class="btn btn-green btn-big form-btn">
	</form>

</body>
</html>