doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  include favicon.pug
  link(rel='stylesheet' href='styles/form-merge.css')
  title PI - Mudar Senha
body.with-margin
a.link(href="../") voltar
div.flex.bg-red.error-div
  p= error || ""
.loading-div#loading-senha
  .loading-rotate
  .loading-title
form.form.flex.direction-column#senha-div(method='POST')
  .form-field
    label.field-label(for='senha1') Nova Senha
    input.field-input(type='password' name='senha1')
  .form-field
    label.field-label(for='senha2') Confima&ccedil;&atilde;o da Nova senha
    input.field-input(type='password' name='senha2' placeholder='Digite a senha novamente')
  input.btn.btn-green.btn-big.form-btn#submit-senha(type='submit' value='Mudar senha')
script(src="pageScripts/mudarSenhaLoad.js")