doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  include favicon.pug
  link(rel='stylesheet' type='text/css' href='styles/merge.css')
  title PI - User Home

body.with-panel
include user-page-pugs/corner.pug

include user-page-pugs/candidato.pug

include user-page-pugs/chat.pug

include user-page-pugs/perfil.pug

include user-page-pugs/filtros.pug

include user-page-pugs/candidatoProfile.pug

// perfilEditToggle não funciona minificado
script(src="pageScripts/perfilEditToggle.js")
script(src="pageScripts/profileClick.js")
script(src="pageScripts/chatClick.js")
script(src="script/minifiedJsUser.js" type="module")
