doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  include favicon.pug
  link(rel='stylesheet' type='text/css' href='styles/merge.css')
  title PI - User Home

body.with-panel
#loading.loading-div
  .loading-rotate
  .loading-title
include user-page-pugs/corner.pug

include user-page-pugs/dashboard.pug

include user-page-pugs/candidato.pug

include user-page-pugs/chat.pug

include user-page-pugs/perfil.pug

include user-page-pugs/filtros.pug

include user-page-pugs/profile.pug

script(src="pageScripts/profileClick.js")
script(src="pageScripts/chatClick.js")
script(src="pageScripts/removeLike.js")
script(src="pageScripts/onLoad.js")
if userData.userMode == "empresa"
  script(src="pageScripts/targetActions.js")
  script(src="pageScripts/filtroLoad.js")
  script(src="pageScripts/buscaLoad.js")