@import url('https://fonts.googleapis.com/css2?family=Georama&display=swap');

.btn {
    cursor: pointer;

    text-transform: uppercase;

    display: flex !important;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    
    border-radius: 10px;
    border: none;
    border-bottom: 5px solid white;

	letter-spacing: 1px;
	font-size: .9rem;
	font-family: 'Georama', Arial, Helvetica, sans-serif;

    padding: 10px;
}

.btn:hover {
    transition: .2s;
    transform: scale(1.05);
}

.btn:active {
    filter: opacity(.5);
}

/* btn-color */

.btn-white {
    background-color: white;
    color: black;

    border-bottom-color: wheat;
}

.btn-red {
    background-color: orangered;
    color: whitesmoke;

    border-bottom-color: red;
}

.btn-red-reverse {
    background-color: red;
    color: black;

    border-bottom-color: darkred;
}


.btn-green {
    background-color: chartreuse;
    color: black;

    border-bottom-color: green;
}

.btn-gold {
    background-color: gold;
    color: white;

    border-bottom-color: goldenrod;
}

/* btn-border */

.btn-gradient-red-to-purple {
	border: 3px solid transparent;
	border-image: linear-gradient(150deg, red, purple);
	border-image-slice: 1;
}

.btn-borderless {
    border: none;
}

.btn-border-green {
    border: 2px solid green;
}

/* round */

.btn-rounded {
    border-radius: 100%;
}

/* btn pseudo-elements */

.btn-chat::after {
	content: "Chat";
}

.btn-remover::after {
    content: "Remover";
}

/* btn-hover */

.btn-opacity:hover {
    transform: unset;
    filter: opacity(.8);
}

.btn-shadow:hover {
    box-shadow: 0 0 25px grey;
}

.btn-translatey:hover {
    transform: translateY(-3px);
}

.btn-background-grey:hover {
	background-color: rgba(128, 128, 128, 0.411) !important;
}