.btn a {
    color: unset;
    text-decoration: none;
}

.btn {
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    border: 1px solid black;
    padding: 5px;
}

.btn:hover {
    cursor: pointer;
    transition: .2s;
    transform: scale(1.05);
}

.btn-opacity:hover {
    transform: unset;
    filter: opacity(.8);
}

.btn-white {
    border: 1px solid white;
    color: white;
}

.btn-green {
    border: 1px solid green;
    color: green;
}

.btn-borderless {
    border: none;
}

.btn-action {
    margin: 0 18px;
}

.iconBtn {
    width: 20px;
    height: 20px;
    object-fit: contain;
    border: none;
}

.iconBtn-big {
    width: 35px;
}

.iconBtn-bigger {
    width: 60px;
}