.config-head {
	height: 20%;
	display: flex;
	align-items: center;
}

.config-head .title {
	margin-left: 2rem;
	font-size: 2.5rem;
}

.config-body {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.config-field {
	margin: 15px 8px;
}

.config-field > * {
	margin: 15px 10px;
	color: whitesmoke;
}

.config-field-title {
	color: rgb(194, 190, 190);
}

.config-field:last-of-type {
	margin-top: 20px;
	border-top: 1px solid white;
	display: flex;
	justify-content: flex-end;
}

.field-div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	width: 50%;
}

@media (max-width: 1100px) {
	.field-div {
		width: 95%;
	}
}

.field-div-title {
	width: 30%;
}