@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', arial;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;

    display: flex;
    align-items: center;
    background-color: black;
	color: white;
    overflow: hidden;
}

button {
	display: inherit;
	align-items: inherit;

	background-color: unset;
	color: inherit;
	border: inherit;

	cursor: inherit;
	text-transform: inherit;
}

a {
	display: flex;
	align-items: baseline;
	font-size: .9rem;

    color: mediumseagreen;
	text-underline-offset: 1px;
}

a.no-link {
	display: inherit;
    text-decoration: none;
    color: unset;
}

select {
	color: black;
	background-color: transparent;
	padding: 10px;
	font-size: 1.2rem;
	border-radius: 10px;
}

option {
	background-color: rgb(65, 65, 65);
	color: white;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent; 
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #888; 
}

::-webkit-scrollbar-thumb:hover {
	background: #999; 
}

.checkbox-toggle::after {
	content: "Off";
	text-transform: uppercase;
	color:white;
	margin-left: 20px;
}

.checkbox-toggle:checked::after {
	content: "On";
}

.voltar {
	cursor: pointer;
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.submit-container {
	border-radius: 100%;
	width: 40px;
	height: 40px;

	display: flex;
	align-items: center;
}

.submit-container:hover {
	background-image: rgba(128, 128, 128, 0.301);
}

.field-head {
	display: flex;
	align-items: center;
}

.description {
	filter: opacity(.8);
	font-size: .9rem;
}