.icon-white {
    fill: white;
    color: white;
}

.icon-green {
    fill: green;
    color: green;
}

.icon-red {
    fill: red;
    color: red;
}

.icon-black {
    fill: black;
    color: black;
}