.iconBtn {
    width: 20px;
    height: 20px;
    object-fit: contain;
    border: none;
    cursor: pointer;
}

.iconBtn-big {
    cursor: pointer;

    width: 30px !important;
    height: 30px;
}

.iconBtn-bigger {
    width: 60px;
}

.icon-white {
    fill: white;
    color: white;
}

.icon-green {
    fill: green;
    color: green;
}

.icon-red {
    fill: red;
    color: red;
}

.icon-black {
    fill: black;
    color: black;
}