.panel {
    position: relative;

    height: 85%;
    width: 80%;
    max-width: 1200px;
    margin: 0 20px;

    padding: 20px;

    border: 1px solid grey;
    border-radius: 1rem;

    background-color: #3a3a3a;
    color: white;
}

.panel-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.panel-flex-column {
    display: flex;
	flex-direction: column;
}

.panel-center {
	display: flex;
	align-items: center;
	justify-content: center;
}