.panel {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.panel-perfilInfo {
    border: 1px solid grey;
    border-radius: 1rem;

    background-color: #3a3a3a;
    color: white;
    height: 700px;
    padding: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.panel-perfilInfo:last-of-type {
    text-align: right;
}

.panel-perfilInfo fieldset {
    border: none;
}

.panel-perfilInfo .field {
    padding: 10px 0;
}

.panel-perfilInfo label {
    color: orange;
}

.panel-perfilInfo p {
    margin-top: 10px;
}

.panel-perfilInfo .btn {
    width: 100%;
    padding: 18px;
    margin: 10px 0;
    font-size: 1.3rem;
}

.panel-perfilInfo .btn img {
    transform: scale(2);
}

.panel-perfil {
    border-radius: 30px;
    box-shadow: 0 0 15px grey;
    background-color: blanchedalmond;
    height: 95%;
    width: 110%;
    transform: scale(1.08);

    display: grid;
    grid-template-rows: 2fr 1fr;
    overflow: hidden;
}

.panel-perfil:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.panel-perfil-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 1px solid black;
}

.panel-perfil-actions {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.panel-perfil-actions-btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}