.panel {
    position: relative;

    height: 80%;
    width: 65%;
    margin: 0 auto;

    padding: 20px;

    border: 1px solid grey;
    border-radius: 1rem;

    background-color: #3a3a3a;
    color: white;
}

.panel-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.panel-flex-column {
    display: flex;
	flex-direction: column;
}
