.userCorner {
    border: 2px solid black;
    border-radius: 1rem 0;
    box-shadow: 0 0 100px grey;
    background-color: rgb(65, 65, 65);
    color: wheat;

    margin: 10px 15px;
		min-width: 400px;
		width: 400px;
    max-height: 80vh;
    overflow: scrolL;

    position: relative;
}

.userCorner .btn {
    color: wheat;
}

.userCorner::-webkit-scrollbar {
    width: 0 !important;
}

.userCorner > *:not(.userCorner-userList) {
    padding: 20px;
}

.userCorner-head {
    position: sticky;
    top: 0;
    background-color: rgb(65, 65, 65);

    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.userCorner-head-userText {
    margin: 1px 16px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.userCorner-head-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.userCorner-head-icon:hover {
    transition: 1s;
    transform: rotate(360deg);
}

.userCorner-actions-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userCorner-actions-head  img {
    margin-left: 10px;
    content: "";
}

.userCorner-userList {
    display: grid;
		grid-template-columns: 1fr 1fr 1fr;

    padding: 0 10px;
}

.userCorner-userList-user {
    display: flex;
    flex-direction: column;

    margin: 8px;

    height: 250px;
    width: 100px;

    border-radius: 5px;
    overflow: hidden;
}

.userCorner-userList-user > img {
    cursor: pointer;

    border-radius: 1rem;
    box-shadow: 0 0 4px grey;

    min-height: 110px;
    max-height: 110px;
    width: 100%;
    object-fit: cover;
}

.userInfo {
    padding: 10px;
}

.userInfo > h4 {
    padding: 5px 0;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.userCorner-userList-user .btn {
    padding: 7px;
    margin: 1px;
    border-radius: 4px;
}

.userCorner-userList-user .btn:hover {
    box-shadow: 0 0 4px grey;
}

