.card-choice {
	height: 300px;
	width: 250px;
	background-color: transparent;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;

	padding: 2rem;
	border-radius: 1rem;

	box-shadow: 0 0 4px rgb(247, 72, 101);
}

.card-choice:hover {
	transition: .3s;
	transform: scale(1.05);
	box-shadow: 0 0 8px rgb(247, 72, 101);
}

.opt-job, .opt-patrao {
	background-size: cover;
	background-color: rgb(16, 1, 104);
}

.opt-job {
	background-image: url(../imgs/job.png);
	background-repeat: no-repeat;
	background-position: center;
}

.opt-patrao {
	background-image: url(../imgs/contratante.png);
	background-repeat: no-repeat;
	background-position: center;
}