@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
	background-color: rgb(46, 46, 46);
	color: white;
	font-family: "Roboto";
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: grey;
}