section#chatPanel.panel.panel-flex-column.panel-chat
  .loading-div#chat-loading
    .loading-rotate
    .loading-title
  #aviso-no-data-chat(style="width: 100%;")
    .btn.btn-gradient-red-to-purple.btn-opacity Nenhuma informação econtrada
    p(style="margin-top: 50px;") Clique em um usuário para carregar o chat.
  header.chat-head(style="display: none;")
    .chat-head-container
      a.no-link(title='Voltar' href='#')
        svg.bi.bi-arrow-bar-left.iconBtn-big.btn.btn-borderless.btn-background-grey(xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewbox='0 0 16 16')
          path(fill-rule='evenodd' d='M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z')
      a.profileLink.no-link.chat-userPerfil(title="Ver Pefil do Candidato" href="#candidatoProfile")
        img.roundedImg(src='/userSamples/alvim.jpeg' alt='User image')
    p.chat-userName Alvim
  if userData.cnpj
    .flex.direction-column.chat-body(style="margin: auto; text-align: center; justify-content: center; align-items: center; display: none")
      h2(style="margin: 12px 0") Funcionalidade de Chat está indisponível no momento
      h3(style="color: orange; font-size: 1.3rem") Enquanto isso:
      p(style="margin: 12px 0") Você pode entrar em contato com o candidato pelo celular: 21 98989 9898
      p(style="margin: 12px 0") Ou através dos botões:
      .flex.justify-content-between(style="margin: 12px 0; width: 300px")
        button.btn.btn-green-dark 
          a.no-link.chat-whatsapp(target="_blank") WhatsApp
        button.btn.btn-grey 
          a.no-link.chat-email(target="_blank") Email
  if userData.cpf
    .flex.direction-column.chat-body(style="margin: auto; text-align: center; justify-content: center; align-items: center; display: none")
      h2 Esta empresa entrou em contato com você?
      .flex.justify-content-between(style="margin: 12px 0; width: 300px")
        button.btn.btn-green#contato-sim Sim
        button.btn.btn-grey(onclick="alert('Espere mais um pouco, ou remova a empresa no canto esquerdo.')") Não