section#filtro-panel.panel.panel-flex.column
  .form-field.flex.direction-column
    label.form-label(for="area-busca") Área de Busca
    select.field-input
      option Ok
    label.form-label(for="area-secundaria") Área de Busca Secundária
    select.field-input
      option ok2
    button.btn.btn-green.btn-opacity Salvar Filtros