section#perfil.panel.panel-flex-column
  header
    a.no-link(href='#candidatoPainel')
      svg.bi.bi-arrow-bar-left.btn.btn-borderless.btn-background-grey.iconBtn-big(xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewbox='0 0 16 16')
        path(fill-rule='evenodd' d='M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z')
    h2.title Perfil
  form.panel-body
    .flex.align-center.justify-content-between(style="padding: 5vw;" methot="POST")
      .flex.direction-column
        h2= userData.nome
        p.description(style="") #{userData.idade} Anos
      a.no-link(href='#perfil')
      img.roundedImg-bigger(src='userSamples/neon.jpg' title='Perfil' alt='User Image')
    .loading-div#perfilInfo-loading(style="margin: 30px;")
      .loading-rotate
      .loading-title
    #perfil-form
      h2(style="color: orange; margin: 30px 0; border-bottom: 2px solid orange") Suas Informações
    .flex.justify-content-between.align-center(style="padding: 0 10px; align-items: baseline;")
      .form-field
        a.no-link.btn.btn-black(href="/mudar-senha") Mudar Senha
      .flex.direction-column.align-center
        a.no-link.btn.btn-borderless.btn-border-green(href="#perfil" id="toggle-handler") Editar informações
        input(type="submit" style="display: none;" id="save-info" class="no-link btn btn-green" value="Salvar informações")
      .form-field
        a.no-link.btn.btn-borderless.btn-border-red(href="/confirmar-reset?favoritos=true") Resetar Favoritos