section#candidatoProfile.panel.panel-flex-column
  header
    a.no-link(href='#')
      svg.bi.bi-arrow-bar-left.btn.btn-borderless.btn-background-grey.iconBtn-big(xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewbox='0 0 16 16')
        path(fill-rule='evenodd' d='M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z')
    if userData.cnpj
      h2.title Perfil do Candidato
    if userData.cpf
      h2.title Perfil da Empresa
  .loading-div#perfilCandidatoLoading
    .loading-rotate
    .loading-title
  #aviso-no-data(style="width: 100%;")
    .btn.btn-gradient-red-to-purple.btn-opacity Nenhuma informação econtrada
    p(style="margin-top: 50px;") Clique em um usuário para carregar as informações.
  .panel-body#candidatoPanelBody(style="display: none;")
    .flex.align-center.profileHead(style="padding:5vw;")
      img.profileInfo.roundedImg-bigger(src='' alt="Imagem de Perfil da Empresa" name="imagem")
      div(style="margin-left: 20px;")
        h2.profileInfo(name="nome") Nome
        if userData.cnpj
          p.description.profileInfo(name="idade") Idade