@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

.article-title {
	text-align: center;
	letter-spacing: 1px;
	font-size: 3rem;
	font-family: "Otomanopee";
	font-style: italic;

	/* top já tem o padding do depoimentos */
	margin: .5rem 0 1.5rem;
}

.article-nav {
	padding: 3rem 0;
	margin: auto;
}

.title-black {
	color: black;
}

.depoimentos {
	background-color: rgb(255, 255, 255);
}

.empresas-nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

.empresas-nav .card-pic {
	margin: 0 2vw;
	cursor: pointer;
}

.empresas-nav img:hover {
	transform: scale(1.1);
	box-shadow: 0 0 10px grey;
}

.quote-pre::before, .quote-next::after {
	/* esse display é necessário para usar o transform */
	display: inline-block;

	font-family: "Catamaran";
	content: '"';
	font-size: 3rem;
}

.quote-pre {
	transform: rotate(180deg);
}
