.config-field {
	margin: 15px 8px;
}

.config-field > * {
	margin: 15px 10px;
	color: whitesmoke;
}

.config-field-title {
	color: rgb(194, 190, 190);
}

.config-field:last-of-type {
	margin-top: 20px;
	border-top: 1px solid white;
	display: flex;
	justify-content: flex-end;
}

.field-div {
	display: flex;
	align-items: center;

	width: 100%;
}

.field-div .btn {
	align-self: flex-end;
}

@media (max-width: 1300px) {
	.field-div {
		width: 95%;
	}
}

.field-div-title {
	width: 30%;
}