.iconBtn {
    border: none;
    border-radius: 10px;
    padding: 5px;

    width: 20px;
    height: 20px;
    
    object-fit: contain;
    cursor: pointer;
}

.iconBtn-noradius {
    border-radius: 0;
    padding: 0;
}

.iconBtn-big {
    width: 30px !important;
    height: 30px;
}

.iconBtn-bigger {
    width: 60px !important;
    height: 60px;
}

.icon-white {
    fill: white;
    color: white;
}

.icon-green {
    fill: green;
    color: green;
}

.icon-red {
    fill: red;
    color: red;
}

.icon-black {
    fill: black;
    color: black;
}