@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.loading-div {

	/* display como none para que seja melhor o handle por js */
	display: none;
	width: 80px;
	height: 80px;

}

.loading-rotate {
	width: 50px;
	height: 50px;

	border: 2px solid blue;
	border-radius: 100%;

	animation: rotate 5s infinite;
}

.loading-title::after {
	content: "Carregando...";
}