@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.loading-div {

	width: 80px;
	height: 80px;

}

.loading-rotate {
	margin: 10px auto;

	width: 55px;
	height: 45px;

	border: 2px solid blue;
	border-radius: 100%;

	animation: rotate 5s infinite;
}

.loading-title::after {
	content: "Carregando...";
}