body.with-panel {
	display: flex;
	align-items: center;
}

.panel {
    position: relative;

    height: 85%;
    width: 100%;
    max-width: 1200px;
    margin: 0 20px;

    padding: 20px;

    border-radius: 1rem;
	border: 2px solid white;
	box-shadow: 0 0 15px black;

    background-color: #3a3a3a;
    color: white;
}

.panel-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.panel-flex-column {
    display: flex;
	flex-direction: column;
}

.panel-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.panel-body {
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.panel > header:not(.chat-head) {
	min-height: 150px;
	height: 20%;
	display: flex;
	align-items: center;
 	box-shadow: 0 8px 9px -14px white;
}

.panel > header > .title {
	margin-left: 2rem;
	font-size: 2.5rem;
}
