.target-sticky {
	position: sticky !important;
}

.target {
	text-align: center;
	background-color: inherit;
	position: absolute;
	bottom: -1px;
}

.userCorner .btn-target {
	position: sticky;
}

.btn-target:hover {
	transform: scale(1) !important;
}

.panelBackTarget {
	top: 0;
	left: 0;
	bottom: unset;
	width: 200px;
	margin: -10px;
}

#candidatoPainel, #chatPanel, #config, #perfil, #filtro-panel, #candidato-profile {
	display: none;
}

#candidatoPainel:target {
	display: grid;
}

#chatPanel:target, #config:target, #perfil:target, #filtro-panel:target, #candidato-profile:target {
	display: flex;
}